
/***** for larger devices *****/
@media (min-width: 992px) and (max-width: 1920px) {

	.shoe-grid-container .shoe-grid-container-icon { width: 60px; height: 60px; font-size: 32px; line-height: 60px; }
	
}

/***** for larger tables *****/

@media (min-width: 768px) and (max-width: 991px) {
	
	.navbar-expand-md .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }
	
	.inner-bg { padding: 108px 0; }

	.section-description p { padding: 0; }
	
	.shoe-grid-container .shoe-grid-container-icon { width: 50px; height: 50px; font-size: 26px; line-height: 50px; }
	
	.beats-grid-container .beats-grid-container-icon { width: 50px; height: 50px; font-size: 26px; line-height: 50px; }

}

/***** for small tablets *****/
@media (max-width: 767px) {
	
	.navbar.navbar-no-bg { background: rgb(255, 0, 0); }
	.navbar-dark .navbar-toggler { border-color: rgb(255, 0, 0); }
	.navbar-dark .navbar-toggler:focus { background: rgb(255, 0, 0); outline: 0; }
	.navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }

	.inner-bg { padding: 100px 0 80px 0; }
	
	.section-description p { padding: 0; }
	
	.section-shoe-container { padding-bottom: 60px; }
	.shoe-grid-container { text-align: center; }
	.shoe-grid-container h3 { margin-top: 20px; padding-top: 10px; }
	
	.beats-grid-container { text-align: center; }
	.beats-grid-container h3 { margin-top: 20px; padding-top: 10px; }
	
}

/***** for smart phone devices *****/

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 105px 33px !important;
    }
	
}
